In [51]:
from difflib import SequenceMatcher
import numpy as np
import pandas as pd
def sim(s,lis):
    l = len(s.split(".")[0])
    k = s.split(".")[0]
    df = pd.DataFrame(columns = ("Domain Name","Similarity"))
    df["Domain Name"] = lis
    x = []
    for m in lis:
        x = SequenceMatcher(None, s, m).ratio()
        df["Similarity"][df["Domain Name"] == m] = x  
    return df

In [52]:
df

     Domain Name Similarity
0  thegoogle.com   0.869565
1        good.go   0.588235
2   google.co.in   0.818182
3       bing.com   0.555556

In [53]:
lis = ["hello.com","biblehello.co.in","dye.in"]
s = "hello.co.in"
sim(s,lis)

        Domain Name Similarity
0         hello.com        0.8
1  biblehello.co.in   0.814815
2            dye.in   0.470588